@{
    ViewBag.Title = "aboutUs";
}

<div class="row">

        <div class="col-md-3 "   >
            <div  class="page-header"  >
                <h1> About Us </h1>
                <p>This site is for all hunter. We guide hunters about hunting in Pakistan. You can find your favorite animals in Pakistan. You just need to type the name of that animal and we will tell you that where is it in Pakistan.</p>
            </div>
        </div>
        <div class="col-md-3 "   >
            <div  class="page-header"  >
                <h1> Our Team </h1>
                <p >We have a team of Professional Hunters. If you are a new comer in this field, nothing to worry about. Just sign Up and join our team. You can contact them and arrange tours with them. So that you can enjoy hunting in Pakistan.</p>
            </div>
        </div>
        <div class="clo-xs-6 " >
                                <img src="../../Images/11.jpg" height="500" width="600"/>
      
    </div>
     </div>
