@{
    ViewBag.Title = "Index";
}


     <div class="row">

        <div class="col-md-12 "   >
            <div  class="page-header"  >
                <h1>Hunting Places in Pakistan</h1>
                </div>
                <div class="row">
                    <div class="col-md-3 "   >
                <p>Pakistan is the most Beautiful country of world. Pakistan is known for tourism because of its diverse cultures, peoples and landscapes.The variety of attractions ranges from the ruins of ancient civilizations such as Mohenjo-daro, Harappa and Taxila, to the Himalayan hill-stations, that attract those interested in field and winter sports.When I personally think of Pakistan it reminds me of Mughal architecture, the gorgeous ladies, the food, the culture, the stunning geographical wonders. It also has very beautiful animals in it. Hunting in Pakistan always has been a great fun. We invite you to come and hunt in Pakistan. You will enjoy it. </p>
                    </div>
                    <div class="col-md-3 "   >
                                <img src="../../Images/13.jpg" height="300" width="300"/>
                
                    </div>
                    <div class="col-md-3 "   >
                                <img src="../../Images/14.jpg" height="300" width="300"/>
                
                    </div>
                    <div class="col-md-3 "   >
                                <img src="../../Images/15.jpg" height="300" width="300"/>
                
                    </div>
                    </div>
                </div>

</div>  

    <div class="row">

        <div class="col-md-12 "   >
            <div  class="page-header"  >
                <h1>What is different in Pakistan ?</h1>
                </div>
                <div class="row">
                    <div class="col-md-3 "   >
                        <div  class="page-header"  >
                           <h1>Animals</h1>
                <p>There are 15 Exotic Animals that you won’t believe exist in Pakistan. Some of the finest bird, reptile, and mammal species of the world make their home in Pakistan. Magnificent, colorful, and unique, these animals will make you wonder what else there is in this country that you are missing. Most of these animals are not present in any other country of World, it is up to you to santd and hunt in Pakistan.</p>
                                <img src="../../Images/16.jpg" height="300" width="300"/>
                  
                              </div>
                        </div>
                    <div class="col-md-3 "   >
                        <div  class="page-header"  >
                           <h1>Weather</h1>
                            <p>Pakistan has four seasons: a cool, dry winter from December through February; a hot, dry spring from March through May; the summer rainy season, or southwest monsoon period, from June through September; and the retreating monsoon period of October and November.It is also a great fun to hunt different animals in different weathers in Pakistan.</p>
                                <br/><img src="../../Images/18.jpg" height="300" width="300"/>
                  
                             </div>
                        </div>
                    <div class="col-md-3 "   >
                        <div  class="page-header"  >
                           <h1>Places</h1>
                <p>Pakistan's total area is 803,940 s/km. Land area is 778,720 s/km, Water area is 25,220 s/km. Pakistan domains some of the rarest species of wild sheep & goat on Earth, like Blue Sheep, Kashmir, Astor & Suleman Markhors; Punjab, Blandford & Afghan Urials; Himalayan & Sind Ibex. Hunting in some areas is so easy, hunters have shot their big games at roadside while sitting in their jeeps.</p>
                                <img src="../../Images/17.jpg" height="300" width="300"/>
                    
                        </div>
                        </div>
                    <div class="col-md-3 "   >
                        <div  class="page-header"  >
                           <h1>Facilities</h1>
                <p>
                    There are not very strict rules for hunting in Pakistan by Govt. of Pakistan. Vast number of hunting permits are issued by wild life department of Pakistan which are sold out in open auctions.The official hunting season  begins on 01 of October and ends on 30 of April. Hunting in Southern Pakistan does not require any physical fitness, however, hunts in the northern mountains can be challenging.
                </p>
                                <img src="../../Images/19.jpg" height="300" width="300"/>

                        </div>
                        </div>
                    </div>
                </div>

</div>  

     <div class="row">

        <div class="col-md-12 "   >
            <div  class="page-header"  >
                <h1>We are offering . . .  </h1>
                </div>
                <div class="row">
                    <div class="col-md-3 "   >
                        <div  class="page-header"  >
                           <h1>Information</h1>
                <p>Want to get any type of information about hunting in Pakistan ? Just visit our <a href="../Home/Index">Website</a> or <a href="../contact/contactUs">Contact us</a> here.</p>
                  
                              </div>
                        </div>
                    <div class="col-md-3 "   >
                        <div  class="page-header"  >
                           <h1>Hunting Team</h1>
                            <p>If you are new in Hunting then nothing to worry about. Join our professionl team of hunter by <a href="../user/signUp">signing up</a> here.</p>
                  
                             </div>
                        </div>
                    <div class="col-md-3 "   >
                        <div  class="page-header"  >
                           <h1>Permissions</h1>
                            <p>If you want to get permissions of hunting in Pakistan by Govt. of pakistan to hunt in Pakistant then <a href="../contact/contactUs">contact us</a> or <a href="../user/signUp">sign up</a>.</p>
                        </div>
                        </div>
                    <div class="col-md-3 "   >
                        <div  class="page-header"  >
                           <h1>Weapons</h1>
               <p>We can also provide you weapons to hunt in Pakistan on rent or to buy. <a href="../contact/contactUs">Contact us</a> or <a href="../user/signUp">create an account</a> on our site.</p>

                        </div>
                        </div>
                    </div>
                </div>

</div>
