@{
    ViewBag.Title = "catagories";
}

<div class="row">

        <div class="col-md-6 " >
            <div  class="page-header"  >
                <a class="button"  href="../catagories/animal" >
                <h1> Animals </h1>

        <img alt="Brand" src="../../Images/6.jpg" height="300" width="600" />
      </a>
            </div>
        </div>
        <div class="col-md-6 "   >
            <div  class="page-header"  >
                <a class="button"  href="../catagories/bird" >
                <h1> Birds </h1>

        <img alt="Brand" src="../../Images/2.jpg" height="300" width="600" />
      </a>
            </div>
        </div>
    </div>

     <div class="row">

        <div class="col-md-6 "   >
            <div  class="page-header"  >
                 <a class="button"  href="../catagories/weapon" >
                <h1> Weapons </h1>

        <img alt="Brand" src="../../Images/7.jpg" height="300" width="600" />
      </a>
      

                               

            </div>
        </div>
        <div class="col-md-6 "   >
            <div  class="page-header"  >
                 <a class="button"  href="../catagories/hanimal" >
                <h1> Helping Animals </h1>

        <img alt="Brand" src="../../Images/5.jpg" height="300" width="600" />
      </a>
                                

            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6 "   >
            <div  class="page-header"  >
                
                 <a class="button"  href="../catagories/place" >
                     <h1> Places </h1>
        <img alt="Brand" src="../../Images/1.jpg" height="300" width="600" />
      </a>
                                

            </div>
        </div>
        <div class="col-md-6 "   >
            <div  class="page-header"  >
                
                                 <a class="button"  href="../catagories/weather" >
                                     <h1> Weather </h1>
        <img alt="Brand" src="../../Images/8.jpg" height="300" width="600" />
      </a>

            </div>
        </div>
    </div>
